h2, h3, p {
    padding-left:5em;
    padding-right: 5em;
    text-align: justify;
    color: rgb(70, 70, 70);
}

p {
    font-size:16px;
}

.post-container{
    position:relative;
    display: grid;
    grid-template-columns: 48vw auto;
    left: 0vw;
    background-color: rgba(240, 255, 255, 0.322);
    justify-content:space-evenly;
    margin-left:5vw;
    margin-top:5vh;
    margin-right:5vw;
    border-radius: 1vw;
}

.post-container img {
    position:relative;
    right:3vw;
    width: 30vw;
    height: 45vh;
    border-radius: 1vb;
    align-self: center;
}