<div class="container">
    <form action="" method="get">
        <button (click)="setFalse()" style="border-radius:35%;
            position:relative;left: 28.5vw; top: -3.3vw; width:3vw;" class="close-button" >X</button>
        <label for="login">Login <input name="login" type="text"></label>
        <label for="password">Password <input name="login" type="password"></label>
        <label class="terms" name="terms" for="terms"><input name="terms" type="checkbox">Terms of use</label>
        <button >Login</button>
    </form>
</div>