.navmenu {
    display: flex;
    gap: 3em;
    position:fixed;
    flex-direction: column;
    justify-content:stretch;
    border-color:rgb(177, 54, 214);
    border-right-style:groove;
    border-top-right-radius: 3vh;
    border-bottom-right-radius: 3vh;
    border-right-width:4px;
    padding-bottom: 1em;
    padding-top:1em;
    margin-top:25vh;
    width: 6.5vw;
    height: 35vh;
    font-size: 2.5vh;
    padding-left:1vw;
    background-color:rgb(117, 117, 117);
}   

a {
    padding-top:0.3em;
    padding-bottom:0.2em;
    width: 10%;
    text-decoration: none;
    color: aliceblue;
}

.maincontent {
    width:90vw;
    height: auto;
    background-color: rgb(226, 226, 226);
    text-shadow: 1cap;
    margin-left: 8.3vw;
    position: relative;
    padding-bottom:100vh;
    border-radius: 0.3em;
    font-size: 1.5vw;
    border-style:groove;
    border-width:1vw;
    border-bottom-style:none;
}

.container {
    display: flex;
    
}

h1 {
    padding-left:2em;
    padding-top:0.5em;
    color: rgb(88, 88, 88);
}

.login-button {
    position:relative;
    background-color:rgb(66, 61, 61);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    margin-left:80vw;
    margin-top: -20vh;
    width:5vw;
    height:10vh;
    font-size:1.4vw;
    box-shadow: 0.1em 0.2em .1em rgb(177, 54, 214);
}