/* You can add global styles to this file, and also import other style files */
h1, h2 {
    color: rgb(88, 88, 88);
}

 h4, p {
    font-size:16px;
}

label {
    font-size:18px;
}

.container{
    background-color:rgb(241, 229, 241);
    margin:-6px;
}