/* You can add global styles to this file, and also import other style files */
h1, h2 {
    color: rgb(88, 88, 88);
}

 h4, p {
    font-size:2.6vh;
}

label, button {
    font-size:3vh;
}

.container{
    background-color:rgb(241, 229, 241);
    margin:-6px;
}